  <%- include('../partials/head'); %>

  <body>
    <main class="container">
      <section class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <header>
            <h1 class="display-6 fw-bold"><%= title %></h1>
          </header>
          <p class="col-md-8 fs-5">Register an account and log in to gain access to pages for adding and viewing posts.</p>
          <p class="col-md-8">
            <a href="/register" class="btn btn-primary btn-sm">Register</a>
            <a href="/login" class="btn btn-primary btn-sm">Log in</a>
          </p>
          <p class="col-md-8">
            <a href="/add-post" class="btn btn-secondary btn-sm">Add a post</a>
            <a href="/posts" class="btn btn-secondary btn-sm">View posts</a>
          </p>
        </div>
      </section>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>