  <%- include('../partials/head'); %>

  <body>
    <%- include('../partials/nav'); %>
    <main class="container">
      <header>
        <h1><%= title %></h1>
         Register an account and log in to gain access to pages for adding and viewing posts.
      </header>
      <section>
        <ul>
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Log in</a></li>
        </ul>
        <hr />
        <ul>
          <li><a href="/add-post">Add a post</a></li>
          <li><a href="/posts">View all posts</a></li>
        </ul>
      </section>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>