body {
  background: rgb(234, 233, 241) !important;
}

header > h1.fw-normal {
  font-weight: 700 !important;
}

.posts-container {
  overflow-y: auto;
  max-height: 60vh;
}

/*///////*/
/* forms */
/*///////*/

main.form-signin {
  max-width: 400px;
  margin-top: 50px;
}

.form-check.password {
  padding-left: 0;
  margin-bottom: 15px;
}

.form-check .form-check-input.password-toggler {
  float: none;
  margin-left: 0;
}

.form-check > label {
  color: rgb(79 70 229);
  user-select: none;
  cursor: pointer;
  font-weight: 600;
}

.form-check > label:hover {
  color: rgb(99 102 241);
}

.form-floating > textarea.form-control {
  height: auto;
}

/*/////////*/
/* colours */
/*/////////*/

.btn.btn-primary,
input.form-check-input:checked {
  background-color: rgb(79 70 229);
  border-color: rgb(79 70 229);
  font-weight: 600;
}

.btn.btn-primary:hover {
  background-color: rgb(67 56 202);
  border-color: rgb(67 56 202);
}

.btn.btn-secondary {
  background-color: rgb(217, 215, 249);
  border-color: rgb(217, 215, 249);
  color: rgb(41, 29, 175);
  font-weight: 600;
}

.btn.btn-secondary:hover {
  background-color: rgb(200, 196, 253);
  border-color: rgb(200, 196, 253);
  color: rgb(41, 29, 175);
}

.single-post-custom {
  background: white;
  padding: 10px 10px 10px 20px;
  border-radius: 10px;
  list-style: none;
}

.icon-colour {
  color: rgb(79 70 229 / 1);
}

.icon-large {
  font-size: 2rem;
}

.icon-small {
  color: #ffffff8c;
  padding-left: 0;
  padding-right: 10px;
  font-size: 1rem;
}

.icon-small.active {
  color: #fff;
}

@media (min-width: 768px) { 
  .icon-small {
    padding-left: 10px;
    padding-right:0;
  }
}

.svg-large {
  width: 3rem;
}

/*//////////////////*/
/* margin / padding */
/*//////////////////*/

.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-5 {
  margin-left: 5px;
}

.new-tab-icon::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f35d";
  margin-left: 5px;
}