body {
  background: #eee !important;
}

.container {
  margin-top:75px;
}

.icon-large {
  font-size: 2rem;
}

header > h1.fw-normal {
  font-weight: 700 !important;
}

main.form-signin {
  max-width: 400px;
}

.form-signin input[type="text"].form-control,
.form-signin input[type="password"].form-control {
  margin-bottom: 15px;
}

.form-check.password {
  padding-left: 0;
  margin-bottom: 15px;
}

.form-check .form-check-input.password-toggler {
  float: none;
  margin-left: 0;
}

/*/////////*/
/* colours */
/*/////////*/

.btn.btn-primary {
  background-color: rgb(79 70 229);
  border-color: rgb(79 70 229);
}

.btn.btn-primary:hover {
  background-color: rgb(67 56 202);
  border-color: rgb(67 56 202);
}

.form-check > label {
  color: rgb(79 70 229);
  user-select: none;
  cursor: pointer;
}

.form-check > label:hover {
  color: rgb(99 102 241);
}

.icon-colour {
  color: rgb(79 70 229 / 0.75);
}

/*//////////////////*/
/* margin / padding */
/*//////////////////*/

m-tb-10, m-bt-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}